/atividade numero um/nbproject/private/
/atividade numero um/build/
/exercicio numero dois/nbproject/private/
/projetoVisual/nbproject/private/
/projetoVisual2025/nbproject/private/
/projetoVisual2025/build/
/projetoVisual2025/dist/
/exercicio numero dois/build/